/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
@import "bootstrap-sprockets";
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
@import "bootstrap";
@import "bootstrap/theme";

ul.nav li a {
	font-size: 1.5em;
	&:hover {
		text-decoration: underline;
	}
}

img.logo {
	float:left;
	margin-right:10px;
}

span.brand {
	padding-top: 5px;
	text-shadow: none;
 	font-family: cursive;
 	font-size: 2em;
}

pre.about {
	font-size: 1.5em;
}

pre.instructions {
	font-size: 1.75em;
}

